# Develop a machine learning model to classify restaurants based on their cuisines.

In [2]:
# Import Libraries
import numpy as np
import pandas as pd
from sklearn.metrics import jaccard_score
from scipy.spatial.distance import pdist , squareform

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Creating the Dataframe
df=pd.read_csv('Dataset .csv')

In [5]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [6]:
# Droping un-necessary Columns

dfRs=df[['Restaurant ID','Restaurant Name','Cuisines','Aggregate rating','Votes']]
dfRs

,Restaurant ID,Restaurant Name,Cuisines,Aggregate rating,Votes
0,6317637,Le Petit Souffle,"French, Japanese, Desserts",4.8,314
1,6304287,Izakaya Kikufuji,Japanese,4.5,591
2,6300002,Heat - Edsa Shangri-La,"Seafood, Asian, Filipino, Indian",4.4,270
3,6318506,Ooma,"Japanese, Sushi",4.9,365
4,6314302,Sambo Kojin,"Japanese, Korean",4.8,229
...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,Turkish,4.1,788
9547,5908749,Ceviz Aï¿½ï¿½acÛ±,"World Cuisine, Patisserie, Cafe",4.2,1034
9548,5915807,Huqqa,"Italian, World Cuisine",3.7,661
9549,5916112,Aï¿½ï¿½ï¿½k Kahve,Restaurant Cafe,4.0,901
9550,5927402,Walter's Coffee Roastery,Cafe,4.0,591

In [7]:
# data cleaning
def dataDesc():
  ListItem=[]
  for col in dfRs.columns:
    ListItem.append (
        [col,
        dfRs[col].dtype,
        dfRs[col].isna().sum(),
        round(dfRs[col].isna().sum()/len(dfRs)*100,2),
        dfRs[col].nunique(),
        list(dfRs[col].drop_duplicates().sample(2).values)]
    )
  dataDesc=pd.DataFrame(data=ListItem,columns=['Column','Data Type', 'Missing Value',
                                        'Pct Missing Value', 'Num Unique', 'Unique Sample'])
  return dataDesc

dataDesc()

,Column,Data Type,Missing Value,Pct Missing Value,Num Unique,Unique Sample
0,Restaurant ID,int64,0,0.00,9551,"[17330024, 305604]"
1,Restaurant Name,object,0,0.00,7446,"[Mirage Restro Bar, Aggarwal Bikaner Sweets Co..."
2,Cuisines,object,9,0.09,1825,"[Desserts, Mithai, Kebab, Turkish Pizza, Dï¿½_ner]"
3,Aggregate rating,float64,0,0.00,33,"[0.0, 2.3]"
4,Votes,int64,0,0.00,1012,"[126, 404]"

In [8]:
# Checking for missing values
dfRs=dfRs.dropna()
dfRs

,Restaurant ID,Restaurant Name,Cuisines,Aggregate rating,Votes
0,6317637,Le Petit Souffle,"French, Japanese, Desserts",4.8,314
1,6304287,Izakaya Kikufuji,Japanese,4.5,591
2,6300002,Heat - Edsa Shangri-La,"Seafood, Asian, Filipino, Indian",4.4,270
3,6318506,Ooma,"Japanese, Sushi",4.9,365
4,6314302,Sambo Kojin,"Japanese, Korean",4.8,229
...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,Turkish,4.1,788
9547,5908749,Ceviz Aï¿½ï¿½acÛ±,"World Cuisine, Patisserie, Cafe",4.2,1034
9548,5915807,Huqqa,"Italian, World Cuisine",3.7,661
9549,5916112,Aï¿½ï¿½ï¿½k Kahve,Restaurant Cafe,4.0,901
9550,5927402,Walter's Coffee Roastery,Cafe,4.0,591

In [9]:
# Renaming the Columns
dfRs = dfRs.rename(columns={'Restaurant ID': 'restaurant_id'})
dfRs = dfRs.rename(columns={'Restaurant Name': 'restaurant_name'})
dfRs = dfRs.rename(columns={'Cuisines': 'cuisines'})
dfRs = dfRs.rename(columns={'Aggregate rating': 'aggregate_rating'})
dfRs = dfRs.rename(columns={'Votes': 'votes'})

dfRs

,restaurant_id,restaurant_name,cuisines,aggregate_rating,votes
0,6317637,Le Petit Souffle,"French, Japanese, Desserts",4.8,314
1,6304287,Izakaya Kikufuji,Japanese,4.5,591
2,6300002,Heat - Edsa Shangri-La,"Seafood, Asian, Filipino, Indian",4.4,270
3,6318506,Ooma,"Japanese, Sushi",4.9,365
4,6314302,Sambo Kojin,"Japanese, Korean",4.8,229
...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,Turkish,4.1,788
9547,5908749,Ceviz Aï¿½ï¿½acÛ±,"World Cuisine, Patisserie, Cafe",4.2,1034
9548,5915807,Huqqa,"Italian, World Cuisine",3.7,661
9549,5916112,Aï¿½ï¿½ï¿½k Kahve,Restaurant Cafe,4.0,901
9550,5927402,Walter's Coffee Roastery,Cafe,4.0,591

In [10]:
# check for duplicate values
print(dfRs.duplicated().sum())

print(dfRs['restaurant_name'].duplicated().sum())

print(dfRs['restaurant_name'].value_counts())

0
2105
Cafe Coffee Day             83
Domino's Pizza              79
Subway                      63
Green Chick Chop            51
McDonald's                  48
                            ..
The Town House Cafe          1
The G.T. Road                1
The Darzi Bar & Kitchen      1
Smoke On Water               1
Walter's Coffee Roastery     1
Name: restaurant_name, Length: 7437, dtype: int64

In [11]:

dfRs=dfRs.sort_values(by=['restaurant_name','aggregate_rating'],ascending=False)

In [12]:
dfRs=dfRs.drop_duplicates('restaurant_name',keep='first')
dfRs

,restaurant_id,restaurant_name,cuisines,aggregate_rating,votes
9523,6000871,ï¿½ukuraï¿½ï¿½a SofrasÛ±,"Kebab, Izgara",4.4,296
3120,18222559,{Niche} - Cafe & Bar,"North Indian, Chinese, Italian, Continental",4.1,492
9334,7100938,wagamama,"Japanese, Asian",3.7,131
9454,6401789,tashas,"Cafe, Mediterranean",4.1,374
4659,18361747,t Lounge by Dilmah,"Cafe, Tea, Desserts",3.6,34
...,...,...,...,...,...
8692,18317511,#Urban Cafï¿½ï¿½,"North Indian, Chinese, Italian",3.3,49
6998,18336489,#OFF Campus,"Cafe, Continental, Italian, Fast Food",3.7,216
2613,18311951,#InstaFreeze,Ice Cream,0.0,2
9148,18378803,#Dilliwaala6,North Indian,3.7,124
2459,3100446,#45,Cafe,3.6,209

In [13]:

dfRs['restaurant_name'].value_counts()

ï¿½ukuraï¿½ï¿½a SofrasÛ±           1
French Toast                1
Fourteen Eleven Tea Cafe    1
Fozzie's Pizzaiolo          1
Frasers                     1
                           ..
Pizza Street                1
Pizza Treat                 1
Pizza Yum                   1
Pizza ï¿½ï¿½ Bessa              1
#45                         1
Name: restaurant_name, Length: 7437, dtype: int64

In [14]:

dfRs=dfRs[dfRs['aggregate_rating']>=4.0]
dfRs

,restaurant_id,restaurant_name,cuisines,aggregate_rating,votes
9523,6000871,ï¿½ukuraï¿½ï¿½a SofrasÛ±,"Kebab, Izgara",4.4,296
3120,18222559,{Niche} - Cafe & Bar,"North Indian, Chinese, Italian, Continental",4.1,492
9454,6401789,tashas,"Cafe, Mediterranean",4.1,374
9385,6113857,sketch Gallery,"British, Contemporary",4.5,148
1837,18418247,feel ALIVE,"North Indian, American, Asian, Biryani",4.7,69
...,...,...,...,...,...
1468,18408054,19 Flavours Biryani,"Mughlai, Hyderabadi",4.1,84
2484,18233317,145 Kala Ghoda,"Fast Food, Beverages, Desserts",4.2,1606
2292,2100784,11th Avenue Cafe Bistro,"Cafe, American, Italian, Continental",4.1,377
751,2600031,10 Downing Street,"North Indian, Chinese",4.0,257
351,17057397,'Ohana,Hawaiian,4.5,1151

In [15]:

# Split Cuisines into list
dfRs['cuisines'] = dfRs['cuisines'].str.split(', ')
dfRs

,restaurant_id,restaurant_name,cuisines,aggregate_rating,votes
9523,6000871,ï¿½ukuraï¿½ï¿½a SofrasÛ±,"[Kebab, Izgara]",4.4,296
3120,18222559,{Niche} - Cafe & Bar,"[North Indian, Chinese, Italian, Continental]",4.1,492
9454,6401789,tashas,"[Cafe, Mediterranean]",4.1,374
9385,6113857,sketch Gallery,"[British, Contemporary]",4.5,148
1837,18418247,feel ALIVE,"[North Indian, American, Asian, Biryani]",4.7,69
...,...,...,...,...,...
1468,18408054,19 Flavours Biryani,"[Mughlai, Hyderabadi]",4.1,84
2484,18233317,145 Kala Ghoda,"[Fast Food, Beverages, Desserts]",4.2,1606
2292,2100784,11th Avenue Cafe Bistro,"[Cafe, American, Italian, Continental]",4.1,377
751,2600031,10 Downing Street,"[North Indian, Chinese]",4.0,257
351,17057397,'Ohana,[Hawaiian],4.5,1151

In [16]:
dfRs=dfRs.explode('cuisines')
dfRs

,restaurant_id,restaurant_name,cuisines,aggregate_rating,votes
9523,6000871,ï¿½ukuraï¿½ï¿½a SofrasÛ±,Kebab,4.4,296
9523,6000871,ï¿½ukuraï¿½ï¿½a SofrasÛ±,Izgara,4.4,296
3120,18222559,{Niche} - Cafe & Bar,North Indian,4.1,492
3120,18222559,{Niche} - Cafe & Bar,Chinese,4.1,492
3120,18222559,{Niche} - Cafe & Bar,Italian,4.1,492
...,...,...,...,...,...
2292,2100784,11th Avenue Cafe Bistro,Italian,4.1,377
2292,2100784,11th Avenue Cafe Bistro,Continental,4.1,377
751,2600031,10 Downing Street,North Indian,4.0,257
751,2600031,10 Downing Street,Chinese,4.0,257
351,17057397,'Ohana,Hawaiian,4.5,1151

In [17]:
dfRs['cuisines'].value_counts()

North Indian    270
Italian         237
Chinese         200
Continental     199
Cafe            177
               ...
Pub Food          1
Durban            1
Irish             1
Persian           1
Sunda             1
Name: cuisines, Length: 128, dtype: int64

In [18]:

# Cross Tabulate Restaurant Name and Cuisines
xTabRestoCuisines = pd.crosstab(dfRs['restaurant_name'],
                                dfRs['cuisines'])
xTabRestoCuisines

cuisines,Afghani,African,American,Andhra,Arabian,Argentine,Asian,Asian Fusion,Australian,Awadhi,...,Teriyaki,Tex-Mex,Thai,Tibetan,Turkish,Turkish Pizza,Vegetarian,Vietnamese,Western,World Cuisine
restaurant_name,,,,,,,,,,,,,,,,,,,,,
'Ohana,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10 Downing Street,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11th Avenue Cafe Bistro,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145 Kala Ghoda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19 Flavours Biryani,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
feel ALIVE,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sketch Gallery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tashas,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
{Niche} - Cafe & Bar,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ï¿½ukuraï¿½ï¿½a SofrasÛ±,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# Checking on restaurant name value
xTabRestoCuisines.loc['feel ALIVE'].values

array([0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [20]:
# Resto Names Sample
dfRs['restaurant_name'].sample(20, random_state=101)

439                     Mrs. Wilkes' Dining Room
9545                                    Baltazar
6921                                   Rose Cafe
108                          Big City Bread Cafe
2311                                Olive Bistro
120                            Transmetropolitan
4387                          Maxims Pastry Shop
9222                                      Meraki
9359                            Mimi's Bakehouse
2438                            Cappuccino Blast
8049                               Oh So Stoned!
9544                       Karakï¿½_y Gï¿½_llï¿½_oï¿½ï¿½lu
579                                    Via Delhi
376                  Tu-Do Vietnamese Restaurant
4088    Tian - Asian Cuisine Studio - ITC Maurya
153                            Boise Fry Company
172                           Ting's Red Lantern
3107                                Odeon Social
9513                                  The Sizzle
839                              Sree Annapoorna
Name: restaurant_name, dtype: object

In [21]:

# Measure Similarity
print(jaccard_score(xTabRestoCuisines.loc["Olive Bistro"].values,
                    xTabRestoCuisines.loc["Rose Cafe"].values))

0.3333333333333333

In [22]:

# Create Similarity Value DF
jaccardDist = pdist(xTabRestoCuisines.values, metric='jaccard')
jaccardMatrix = squareform(jaccardDist)
jaccardSim = 1 - jaccardMatrix
dfJaccard = pd.DataFrame(
    jaccardSim,
    index=xTabRestoCuisines.index,
    columns=xTabRestoCuisines.index)

dfJaccard

restaurant_name,'Ohana,10 Downing Street,11th Avenue Cafe Bistro,145 Kala Ghoda,19 Flavours Biryani,1918 Bistro & Grill,2 Dog,22nd Parallel,3 Wise Monkeys,38 Barracks,...,Zoeys Pizzeria,Zolocrust - Hotel Clarks Amer,Zombie Burger + Drink Lab,Zuka Choco-la,Zunzi's,feel ALIVE,sketch Gallery,tashas,{Niche} - Cafe & Bar,ï¿½ukuraï¿½ï¿½a SofrasÛ±
restaurant_name,,,,,,,,,,,,,,,,,,,,,
'Ohana,1.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.00,0.000000,0.0,0.0,0.000000,0.0
10 Downing Street,0.0,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.200000,...,0.0,0.0,0.0,0.000000,0.00,0.200000,0.0,0.0,0.500000,0.0
11th Avenue Cafe Bistro,0.0,0.0,1.000000,0.0,0.0,0.0,0.166667,0.0,0.0,0.333333,...,0.0,0.4,0.0,0.000000,0.00,0.142857,0.0,0.2,0.333333,0.0
145 Kala Ghoda,0.0,0.0,0.000000,1.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.2,0.333333,0.00,0.000000,0.0,0.0,0.000000,0.0
19 Flavours Biryani,0.0,0.0,0.000000,0.0,1.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.00,0.000000,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
feel ALIVE,0.0,0.2,0.142857,0.0,0.0,0.0,0.166667,0.0,0.0,0.600000,...,0.0,0.0,0.0,0.000000,0.00,1.000000,0.0,0.0,0.142857,0.0
sketch Gallery,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.00,0.000000,1.0,0.0,0.000000,0.0
tashas,0.0,0.0,0.200000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.25,0.000000,0.0,1.0,0.000000,0.0
{Niche} - Cafe & Bar,0.0,0.5,0.333333,0.0,0.0,0.0,0.000000,0.0,0.0,0.333333,...,0.0,0.4,0.0,0.000000,0.00,0.142857,0.0,0.0,1.000000,0.0
ï¿½ukuraï¿½ï¿½a SofrasÛ±,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.00,0.000000,0.0,0.0,0.000000,1.0

In [23]:
# Resto Names Sample
dfRs['restaurant_name'].sample(20)

3120                {Niche} - Cafe & Bar
571     Cho Gao - Crowne Plaza Abu Dhabi
1312                              Twigly
1464    Manhattan Brewery & Bar Exchange
3336                               Ricos
3097                       Biryani Blues
658                        Cafe Alfresco
124                   Rae's Coastal Cafe
9269                         Six Degrees
2292             11th Avenue Cafe Bistro
506                      Salt Rock Grill
4318                          52 Janpath
9450                     Nobu - One&Only
232                Jimmy's Pancake House
655                        Brick Kitchen
7086                           Movenpick
734                   ECHOES Koramangala
5468               JAIL - Behind The Bar
571     Cho Gao - Crowne Plaza Abu Dhabi
571     Cho Gao - Crowne Plaza Abu Dhabi
Name: restaurant_name, dtype: object

In [63]:
# Input Initial Restaurant Name
resto = '11th Avenue Cafe Bistro'

sim = dfJaccard.loc[resto].sort_values(ascending=False)

sim = pd.DataFrame({'restaurant_name': sim.index, 'simScore': sim.values})
sim = sim[(sim['restaurant_name']!= resto) & (sim['simScore']>=0.4)].head(5)

# Merge The Rating
RestoRec = pd.merge(sim,dfRs[['restaurant_name','aggregate_rating']],how='inner',on='restaurant_name')
FinalRestoRec = RestoRec.sort_values('aggregate_rating',ascending=False).drop_duplicates('restaurant_name',keep='first')

FinalRestoRec

         restaurant_name  simScore  aggregate_rating
9              Nibs Cafe      0.75               4.4
0       Sautï¿½ï¿½ed Stories      0.75               4.2
3   Elma's at Good Earth      0.75               4.0
6         Pepper Kitchen      0.75               4.0
12          Cafe Kazbaah      0.75               4.0